{% extends "base.html.twig" %}
{% block title %}TI PasteBin{% endblock %}
{% block jarvis_top_bar %}TI PasteBin: The ultimate snippet sharing tool{% endblock %}
{% block page_header %}TI PasteBin - Share your best codes!{% endblock %}
{%- block javascripts -%}
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#frmCreateNewSnippet').submit(function() {
                if ($('[name="snippetText"]').val() == '')
                {
                    alert('You must enter some text first!');
                    return false;
                }
            });
        });
    </script>
{%- endblock -%}
{% block body %}
    <div class="fluid-container">
        <!-- widget grid -->
        <section id="widget-grid" class="">
            <!-- row-fluid -->
            <div class="row-fluid">
                <article class="span12">
                    <!-- new widget -->
                    <div class="jarviswidget">
                        <header>
                            <h2>Viewing {{ aPasteBin[0]['sf2PbFormat']['sf2FormatName'] }} snippet created @ {{ aPasteBin[0]['createdAt']|date('Y-m-d H:i:s') }}</h2>                           
                        </header>
                        <!-- wrap div -->
                        <div>
                            <div class="jarviswidget-editbox">
                                <div>
                                    <label>Title:</label>
                                    <input type="text" />
                                </div>
                                <div>
                                    <label>Styles:</label>
                                    <span data-widget-setstyle="purple" class="purple-btn"></span>
                                    <span data-widget-setstyle="navyblue" class="navyblue-btn"></span>
                                    <span data-widget-setstyle="green" class="green-btn"></span>
                                    <span data-widget-setstyle="yellow" class="yellow-btn"></span>
                                    <span data-widget-setstyle="orange" class="orange-btn"></span>
                                    <span data-widget-setstyle="pink" class="pink-btn"></span>
                                    <span data-widget-setstyle="red" class="red-btn"></span>
                                    <span data-widget-setstyle="darkgrey" class="darkgrey-btn"></span>
                                    <span data-widget-setstyle="black" class="black-btn"></span>
                                </div>
                            </div>
                            <div role="content" class="row-fluid inner-spacer widget-content-padding">
                                <pre  class="prettyprint lang-{{ aPasteBin[0]['sf2PbFormat']['sf2FormatPrettyName'] }}">
                                {{-  aPasteBin[0]['sf2PbData'] -}}
                                </pre>                             
                            </div>
                        </div>
                        <!-- end wrap div -->
                    </div>
                    <!-- end widget -->
                </article>
            </div>						
            <!-- end row-fluid -->
        </section>
        <!-- end widget grid -->
    </div>
{% endblock %}
{%- block jarvis_left -%}
<div class="aside-buttons">
    <a href="{{ app.request.baseUrl }}" title="" class="btn btn-primary">Create another snippet</a>
</div>
{% endblock %}