    {% extends '::base.html.twig' %}

    {% block title %}Data - Sf2PastebinSecurity{% endblock %}
    {% block page_header %}Data - Sf2PastebinSecurity{% endblock %}
    {% block jarvis_top_bar %}{% endblock %}
    {% block body -%}
    <div class="fluid-container">
        <!-- widget grid -->
        <section id="widget-grid" class="">

            <!-- row-fluid -->

            <div class="row-fluid">
                <article class="span12">
                    <!-- new widget -->
                    <div class="jarviswidget" id="widget-id-0">
                        <header></header>
                        <!-- wrap div -->
                        <div>

                            <div class="jarviswidget-editbox">
                                <div>
                                    <label>Title:</label>
                                    <input type="text" />
                                </div>
                                <div>
                                    <label>Styles:</label>
                                    <span data-widget-setstyle="purple" class="purple-btn"></span>
                                    <span data-widget-setstyle="navyblue" class="navyblue-btn"></span>
                                    <span data-widget-setstyle="green" class="green-btn"></span>
                                    <span data-widget-setstyle="yellow" class="yellow-btn"></span>
                                    <span data-widget-setstyle="orange" class="orange-btn"></span>
                                    <span data-widget-setstyle="pink" class="pink-btn"></span>
                                    <span data-widget-setstyle="red" class="red-btn"></span>
                                    <span data-widget-setstyle="darkgrey" class="darkgrey-btn"></span>
                                    <span data-widget-setstyle="black" class="black-btn"></span>
                                </div>
                            </div>

                            <div class="inner-spacer"> 
                                <!-- content goes here -->

                                <table class="table table-bordered table-striped responsive records_list" id="dtable">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Sf2pbssecuritylevel</th>
                                            <th>Sf2pbssecurityvalue</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for entity in entities %}
                                        <tr>
                                            <td><a href="{{ path('crud_pastebin_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                            <td>{{ entity.sf2PbsSecurityLevel }}</td>
                                            <td>{{ entity.sf2PbsSecurityValue }}</td>
                                            <td>
                    
                        <a class="btn medium" href="{{ path('crud_pastebin_show', { 'id': entity.id }) }}">show</a>
                    
                        <a class="btn medium" href="{{ path('crud_pastebin_edit', { 'id': entity.id }) }}">edit</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <!-- end content-->
                            </div>
                            <!-- end wrap div -->
                        </div>
                        <!-- end widget -->
                </article>
            </div>						
            <!-- end row-fluid -->
        </section>
        <!-- end widget grid -->
    </div>
            <div class="form-actions">
            <a href="{{ path('crud_pastebin_new') }}" class="btn medium btn-primary" id="post-btn-js">Create a new entry</a>
        </div>
        {% endblock %}
