    {% extends '::base.html.twig' %}

    {% block title %}Sf2PastebinSecurity{% endblock %}
    {% block page_header %}Sf2PastebinSecurity{% endblock %}
    {% block jarvis_top_bar %}{% endblock %}
    {% block body -%}
    <div class="fluid-container">
        <!-- widget grid -->
        <section id="widget-grid" class="">

            <!-- row-fluid -->

            <div class="row-fluid">
                <article class="span12">
                    <!-- new widget -->
                    <div class="jarviswidget" id="widget-id-0">
                        <header></header>
                        <!-- wrap div -->
                        <div>

                            <div class="jarviswidget-editbox">
                                <div>
                                    <label>Title:</label>
                                    <input type="text" />
                                </div>
                                <div>
                                    <label>Styles:</label>
                                    <span data-widget-setstyle="purple" class="purple-btn"></span>
                                    <span data-widget-setstyle="navyblue" class="navyblue-btn"></span>
                                    <span data-widget-setstyle="green" class="green-btn"></span>
                                    <span data-widget-setstyle="yellow" class="yellow-btn"></span>
                                    <span data-widget-setstyle="orange" class="orange-btn"></span>
                                    <span data-widget-setstyle="pink" class="pink-btn"></span>
                                    <span data-widget-setstyle="red" class="red-btn"></span>
                                    <span data-widget-setstyle="darkgrey" class="darkgrey-btn"></span>
                                    <span data-widget-setstyle="black" class="black-btn"></span>
                                </div>
                            </div>

                            <div class="inner-spacer"> 
                                <!-- content goes here -->
                                <table class="table text-left table-hover record_properties">
                                    <tbody>
                                        <tr>
                                            <th>Id</th>
                                            <td>{{ entity.id }}</td>
                                        </tr>
                                        <tr>
                                            <th>Sf2pbssecuritylevel</th>
                                            <td>{{ entity.sf2PbsSecurityLevel }}</td>
                                        </tr>
                                        <tr>
                                            <th>Sf2pbssecurityvalue</th>
                                            <td>{{ entity.sf2PbsSecurityValue }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- end content-->
                            </div>
                            <!-- end wrap div -->
                        </div>
                        <!-- end widget -->
                </article>
            </div>						
            <!-- end row-fluid -->
        </section>
        <!-- end widget grid -->
    </div>
        <div class="form-actions">
    <a class="btn medium" href="{{ path('crud_pastebin') }}">Regresar a la lista</a>
            <a class="btn medium btn-primary" href="{{ path('crud_pastebin_edit', { 'id': entity.id }) }}">Editar</a>
    </div>
<div class="form-actions">
            {{ form(delete_form) }}
    </div>
    {% endblock %}
